<script src="script/vue/dist/vue.min.js"></script>
<script src="script/jquery/dist/jquery.min.js"></script>
<script src="script/flexslider/jquery.flexslider-min.js"></script>

<script src="<%= BaseURL %>/js/public.js"></script>
</body>
</html>