<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>John个人博客</title>
<meta name="keywords" content="个人博客,John个人博客,个人博客模板,John" />
<meta name="description" content="John个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="<%= BaseURL %>/css/base.css" rel="stylesheet">
<link href="<%= BaseURL %>/css/index.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>
<header>
  <div id="mnav">
    <h2><span class="navicon"></span></h2>
    <ul>
        <li><a href="/">网站首页</a></li>
        <li><a href="/about">关于我</a></li>
        <li><a href="/blog">我的博客</a></li>
        <li><a href="/essays">我的随笔</a></li>
    </ul>
  </div>
  <nav>
    <ul>
        <li><a href="/">网站首页</a></li>
        <li><a href="/about">关于我</a></li>
        <li><a href="/blog">我的博客</a></li>
        <li><a href="/essays">我的随笔</a></li>
        <li>
        <a style="font-size: 12px;" href="/doLogout">退出</a>
        <a style="font-size: 12px;" href="/doLogout">登录后台</a>
        </li>
    </ul>
  </nav>
</header>