/* 20180410 By John*/

body{}

.wrap{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.logo > img{
    display: block;
    width: 40px;
    line-height: 50px;
    margin-top: 5px;
}

.header-box{
    height: 50px;
    max-height: 50px;
    background: url("../img/header-bg.png") repeat-y center;
    padding: 0 50px;
}

.menu{
    margin-left: 50px;
}

.menu-ul > li > a.nav-link{
    display: block;
    font-size: 18px;
    color: white;
    line-height: 50px;
    letter-spacing: 2px;
    padding: 0 30px;
    border-left: 1px solid rgba(0,0,0,0.3); 
}

/* banner */
.banner{position: relative;border-bottom: 1px solid #eee;}
.banner img{ width: 100%}
.flexslider { position: relative; z-index: 10;}
.flexslider .slides { position: relative;overflow: hidden;}
.flexslider .slides li {text-align:center; position: relative; overflow: hidden; display: none; -webkit-backface-visibility: hidden;}
.flexslider .flex-control-nav {position: absolute;bottom: 40px; z-index: 2; width: 100%; text-align: center;z-index: 10;}
.flexslider .flex-control-nav li { display: inline-block; height:10px; margin: 0 5px; *display: inline; zoom: 1;}
.flexslider .flex-control-nav a { display: inline-block; width: 10px; height: 10px;border-radius:50%; text-indent: -999px; ; cursor: pointer;background-position: 0 0; border: 1px solid #959595; overflow: hidden; background-color: #959595;}
.flexslider .flex-control-nav .flex-active { width: 13px; height: 13px;background: #0088ff; border: 1px solid #0088ff;}
.flexslider .slides img{ width: 100%; display: block; }
.flexlider_number{ width:  25px; height: 25px; line-height: 25px; font-size: 12px; color: white; background-color: 
rgba(0,0,0,.15); border-radius: 50%; text-align: center;}
.flexlider_number{position: absolute; right: 0.20rem; bottom: 0.20rem; z-index: 99}
/* 箭头 */

.flex-direction-nav  a{
    position: absolute;
    bottom: 40px;
    z-index: 11;
    width: 40px;
    height: 22px;
    display: block;
    text-indent: -9999px;
}
.flex-direction-nav .flex-prev{
    left: 70px;
    background: url("../img/left.png") no-repeat center;
}

.flex-direction-nav .flex-next{
    right: 70px;
    background: url("../img/right.png") no-repeat center;
}