<!DOCTYPE html>
<html>
<head>
	<title>用户登录</title>
		<meta charset="utf-8">
		<link href="/Views/Pages/css/login.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			<h1>用户登录</h1>
					<div class="head">
						<img src="/Views/Pages/img/user.png" alt=""/>
					</div>
				<form id="loginForm">
					<div class="page-form-item">
						<input type="text" class="text" value=""  placeholder="请输入登录名" id="loginName" name="loginName">
					</div>

					<div class="page-form-item">
						<input type="password" value="" placeholder="请输入密码" id="password" name="password">
					</div>

					<div class="submit">
						<input id="submitBtn" type="submit" value="立即登录" >
					</div>	
					<p>没有账号？<a href="/register">去注册</a></p>
				</form>
			</div>
            <div class="copy-right">
                <p>Powered by  <a href="#">. John .</a></p> 
            </div>
		</div>
		<script type="text/javascript" src="/static/scripts/jquery.min.js"></script>
		<script type="text/javascript" src="/static/scripts/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/static/scripts/jquery.md5.js"></script>		 		
		<script type="text/javascript" src="/Views/Pages/js/login.js"></script>	 		
</body>
</html>