<!DOCTYPE html>
<html>
<head>
	<title>用户注册</title>
		<meta charset="utf-8">
		<link href="/Views/Pages/css/login.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
		<!--//webfonts-->
</head>
<body>
	 <!-----start-main---->
	 <div class="main">
		<div class="login-form">
			<h1>用户注册</h1>
					<div class="head">
						<img src="/Views/Pages/img/user.png" alt=""/>
					</div>
				<form>
                        <input type="text" class="text" value=""  placeholder="请输入邮箱">
						<input type="text" class="text" value=""  placeholder="请输入登录名称">
                        <input type="text" value="" placeholder="请输入显示名称">
                        <input type="password" value="" placeholder="请输入密码">
                        <input type="password" value="" placeholder="请输入密码">
						<div class="submit">
							<input type="submit" onclick="myFunction()" value="立即注册" >
                        </div>	
                        <p>已有账号？<a href="/login">去登录</a></p>
                </form>
			</div>
            <div class="copy-right">
                <p>Powered by  <a href="#">. John .</a></p> 
            </div>
		</div>
		 		
</body>
</html>